# add python, pythorch and ipynob file common gitignore files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode/
.venv/
checkpoints/

# all in checkpoints/supcon_experiment_final except one file

wandb/
resnet50-1x.pth
test.zip
train.zip
data/train.zip
data/data_prev
data/intel_dataset
data/test_original
data/competition/train
test_notebook.ipynb
data.zip
dataset_statistics.pth
resnet50-1x.pth
results/submission_50.json