# add python, pythorch and ipynob file common gitignore files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode/
.venv/
checkpoints/
wandb/
resnet50-1x.pth
test.zip
train.zip
data/
test_notebook.ipynb